.navbar-brand {
  font-size: 2rem!important;
  font-weight: 600;
  color: #E76F51;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
  width: 50px;
}

.navbar-nav {
  align-items: center!important;
}

.navbar-nav a:not(:last-child),
.user-name {
  margin-right: 2.2rem;
  font-size: 1.7rem;
  color: rgba(0,0,0,.55);
  transition: .5s;
}

.navbar-nav a:hover:not(:last-child) {
  color: #E76F51!important;
}

.login-btn {
  font-size: 1.7rem!important;
  background-color: transparent!important;
  color: #E76F51!important;
  border: 1px solid #E76F51!important;
  padding: 8px 20px!important;
  border-radius: 25px!important;
}

.login-btn:hover {
  background-color: #E76F51!important;
  color: #fff!important;
}

.profile-pic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 2.2rem;
}

@media only screen and (max-width: 991px) {
  .navbar-nav {
    display: inline-block!important;
  }
  .login-btn {
    display: block!important;
  }
}