.footer-area {
  padding-top: 100px;
  background-color: #feeae7;

}

.footer-area h4 {
  font-size: 2rem;
  margin-bottom: 24px;
  font-weight: 700;
  position: relative;
}

.footer-area h4::after {
  content: "";
  position: absolute;
  bottom: -8px;
  display: block;
  height: 2px;
  width: 68px;
  background: #E76F51;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.footer-area p {
  font-size: 16px;
}

.links a {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
  font-size: 16px;
}

.links a:hover {
  color: #E76F51;
}

.icons span {
  border-radius: 15px;
  padding: 10px;
  font-size: 18px;
  transition: all 0.35s ease;
  cursor: pointer;
}

.linkedin {
  color: #3d40cb;
}

.twitter {
  color: #00aeef;
}

.instagram {
  color: #f0f;
}

.youtube {
  color: #fd0136;
}

.icons span:hover i {
  transform: translateY(-5px);
}

.copyright-content p {
  margin-bottom: 0;
  padding: 24px 0;
}

@media only screen and (max-width: 991px) {
  div:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer-area p {
    font-size: 14px;
  }
}