.single-product .card-body {
  padding: 24px 10px 10px!important;
}

.single-product .card-title,
.single-news .card-title {
  font-size: 20px!important;
  line-height: 1.8!important;
}

.single-product .card-text,
.single-news .card-text {
  font-size: 15px;
  text-align: justify;
}

.single-product .card-img-top {
  padding-top: 20px;
}

.price {
  color: #E76F51;
  font-size: 20px;
  font-weight: 700;
}

.fa-heart {
  font-size: 24px;
}

.fa-star {
  color: goldenrod;
  font-size: 15px;
}

.expand-btn,
.submit-btn {
  height: 46px;
  max-width: 46px;
  background: #E76F51!important;
  display: flex!important;
  align-items: center;
  justify-content: center;
  border-radius: 46px!important;
  transition: all 0.55s ease!important;
  border: none!important;
}

.expand-btn span {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  transition: all 0.4s ease;
  display: none;
}

.expand-btn i {
  font-size: 24px;
  color: #fff;
}

.expand-btn:hover {
  padding-left: 25px;
  padding-right: 25px;
  min-width: 196px;
}

.expand-btn:hover span {
  display: inline-block;
}

.expand-btn:hover i {
  margin-left: 6px;
}

.single-product {
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
}

.single-product .card {
  border: none;
}

.hearts {
  position: absolute;
  left: 110%;
  top: 5%;
  cursor: pointer;
  transition: all 0.4s ease;
  color: red;
}
.single-product:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 14px rgba(0,0,0,0.1);
}

.single-product:hover .card-img-top {
  transform: scale(1.1,1.1);
}

.single-product:hover .hearts {
  left: 85%;
  z-index: 9999;
}